{{> navbar}}
<div class="container">
	{{#if scanned}}
	<h4>Last scanning action:</h4>
	<h4>{{scanned}}</h4>
	{{/if}}

	<ul id="scans"></ul>

	<div id="assignCard" class="modal fade" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Card does not have a user assigned, enter existing user detials to assign</h4>
	      </div>
	      <div class="modal-body">
	        <form id="cardAssignment">
			  <div class="form-group">
			    <label for="email">Email address</label>
			    <input name="email" type="email" class="form-control" id="email" placeholder="Email">
			  </div>
			  <div class="form-group">
			    <label for="name">Name</label>
			    <input name="name" type="text" class="form-control" id="name" placeholder="Name">
			  </div>
			  <input id="cardNum" type="hidden" name="card_num">
			  <button type="submit" class="btn btn-primary">Submit</button>
			</form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<script> 
	 	var socket = io();
	    socket.on('scans', function (msg) {
	       $('#scans').append($('<li>').text(msg));
	    });

	    socket.on('cardAssignment', function (msg) {
	       $("#cardNum").val(msg);
	       $('#assignCard').modal('show');
	    });

	    socket.on('userError', function (msg) {
	       alert("user not in database");
	    });

	    $( "#cardAssignment" ).submit(function( event ) {

	    	var email = $( "#email" ).val();
	    	var name = $( "#name" ).val();
	    	var cardNum = $( "#cardNum" ).val();


	    	$.ajax({
	    		type: "POST",
	    		url: '/scanner',
	    		data: {
	    			name: name,
	    			email: email,
	    			cardNum: cardNum,
	    		},
	    		success: function(data) {
	    			 $('#assignCard').modal('hide');
	    		}
	    	});

		  event.preventDefault();
		});
	</script>
</div>
	   